<div class="wallet-manager">
    <div class="wallet-manager__header">
        <label>MANAGE WALLET</label>
    </div>

    <form class="wallet-manager__form"
          #form='ngForm'
          (ngSubmit)='insertAmount(walletInput)'>
        <div class="wallet-manager__toggle">
            <input type="checkbox"
                   class="wallet-manager__toggle--input"
                   id="wallet-manager__toggle"
                   name="wallet-manager__toggle">

            <label class="wallet-manager__toggle--label"
                   for="wallet-manager__toggle"
                   (click)="toggleValue()">
                <span class="wallet-manager__toggle--add" [ngClass]="{'wallet-manager__toggle--active' : walletAdd}">ADD</span><span class="wallet-manager__toggle--remove" [ngClass]="{'wallet-manager__toggle--active' : !walletAdd}">REMOVE</span>
            </label>
        </div>

        <div class="wallet-manager__input-message">
            <input class="wallet-manager__input"
                   type="number"
                   placeholder="Insert amount"
                   required
                   min="0"
                   name="walletInput"
                   [ngModel]="userInput"
                   oninput="validity.valid||(value='');"
                   #walletInput="ngModel"/>
            <div class="wallet-manager__error" *ngIf="walletInput.errors && (walletInput.dirty || walletInput.touched || form.submitted)">
                <div *ngIf="walletInput.errors.required">
                    The amount is required!
                </div>
            </div>

        </div>
        <button class="wallet-manager__button"
                type='submit'
                [disabled]="form.invalid">{{walletAdd ? 'ADD AMOUNT' : 'REMOVE AMOUNT'}}
        </button>
    </form>
</div>
