:host {
    display: flex;
    width: 100%;
}

.wallet-list {
    width: 100%;

    &__header {
        background-color: #778899;
        color: #FFF;
        font-weight: bold;
        padding: 1rem;
    }

    &__record {
        background-color: #ffa6a6;
        border-bottom: 1px solid;
        display: flex;
        padding: 1rem;

        &--add {
            background-color: #c9ffd8;
        }
    }

    &__value {
        font-weight: bold;
        margin-left: auto;
    }

}
